<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>argument</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>การถอดโค้ด</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>ค่า input ที่ส่งผ่านไปในฟังก์ชั่นเพื่อปรับแต่งลักษณะการทำงานของฟังก์ชั่น ตัวอย่างเช่น ในการเรียกใช้ฟังก์ชั่น `move(distance: 3)` ตัวเลข `3` คือค่าตัวแปรที่กำหนดจำนวนช่องในการเคลื่อนที่.
            </string>
				<key>Title</key>
				<string>อาร์กิวเมนต์</string>
			</dict>
		</dict>
		<key>attack</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>การถอดโค้ด</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>วิธีการที่ใช้สำหรับเจาะรูปแบบการเข้ารหัส</string>
				<key>Title</key>
				<string>โจมตี</string>
			</dict>
		</dict>
		<key>brute force</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>การถอดโค้ด</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>ระบบการถอดรหัสที่ใช้ตัวเลือกที่เป็นไปได้ทั้งหมดในการเจาะรูปแบบการเข้ารหัส</string>
				<key>Title</key>
				<string>brute force</string>
			</dict>
		</dict>
		<key>call</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>สั่งโค้ดให้รันฟังก์ชั่น ตัวอย่างเช่น การเรียกใช้ฟังก์ชั่น `moveForward()` ในโค้ดของคุณจะสั่งให้แอพพลิเคชั่นดำเนินการกระทำที่กำหนดอยู่ในฟังก์ชั่นนั้น</string>
				<key>Title</key>
				<string>เรียกใช้</string>
			</dict>
		</dict>
		<key>cipher</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>การถอดโค้ด</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>วิธีการแปลงข้อความเพื่อซ่อนความหมาย</string>
				<key>Title</key>
				<string>รหัส</string>
			</dict>
		</dict>
		<key>ciphertext</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>การฝึกการขยับ</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>ข้อความหรือข้อความธรรมดาที่ได้รับการเข้ารหัส</string>
				<key>Title</key>
				<string>ข้อความที่เข้ารหัส</string>
			</dict>
		</dict>
		<key>cryptography</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>หลบหนีจากพายุ</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>วิธีการเข้ารหัสหรือถอดรหัสข้อความที่เขียนเป็นโค้ดลับ</string>
				<key>Title</key>
				<string>การเข้ารหัส</string>
			</dict>
		</dict>
		<key>decryption</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>การฝึกการขยับ</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>ขั้นตอนการแปลงข้อความที่เข้ารหัสเป็นข้อความธรรมดาต้นฉบับหรือข้อความต้นฉบับ</string>
				<key>Title</key>
				<string>การถอดรหัส</string>
			</dict>
		</dict>
		<key>encryption</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>การฝึกการขยับ</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>กระบวนการปกปิดข้อความหรือข้อความธรรมดาให้อ่านได้ยาก</string>
				<key>Title</key>
				<string>การเข้ารหัส</string>
			</dict>
		</dict>
		<key>shift</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>การค้นพบ</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>จำนวนของตัวอักษรที่คุณจะต้องย้ายไปข้างหน้าหรือข้างหลังตามลำดับตัวอักษรเพื่อทำให้กลายเป็นข้อความที่เข้ารหัสแล้วหรือข้อความที่ถอดรหัสแล้ว</string>
				<key>Title</key>
				<string>เลื่อน</string>
			</dict>
		</dict>
		<key>steganography</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>การค้นพบ</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>วิธีการปกปิดข้อความหรือภาพลับภายในข้อความหรือภาพที่ไม่เป็นความลับ</string>
				<key>Title</key>
				<string>วิทยาการอำพรางข้อมูล</string>
			</dict>
		</dict>
		<key>substitution cipher</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>การค้นพบ</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>รหัสที่ได้รับการเข้ารหัสโดยการแทนที่ตัวอักษรต้นฉบับแต่ละตัวด้วยตัวอักษรอื่น</string>
				<key>Title</key>
				<string>รหัสแทนค่า</string>
			</dict>
		</dict>
		<key>transposition cipher</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>การค้นพบ</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>รหัสที่ได้รับการเข้ารหัสโดยการผสมหรือย้ายตัวอักษรทั้งหมดของข้อความต้นฉบับโดยไม่เปลี่ยนแปลงตัวอักษรเหล่านั้น</string>
				<key>Title</key>
				<string>รหัสแบบสับเปลี่ยน</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
