<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>argument</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Descifrar el código</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Valor de entrada o comienzo dentro de una función que permite personalizar su comportamiento. Por ejemplo, en la llamada a la función `move(distance: 3)`, `3` es un argumento que especifica el número de veces que hay que desplazarse.
            </string>
				<key>Title</key>
				<string>argumento</string>
			</dict>
		</dict>
		<key>attack</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Descifrar el código</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Método utilizado para romper o adivinar un esquema de cifrado.</string>
				<key>Title</key>
				<string>ataque</string>
			</dict>
		</dict>
		<key>brute force</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Descifrar el código</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Sistema de descifrado que utiliza todas las opciones posibles para romper o adivinar un esquema de cifrado.</string>
				<key>Title</key>
				<string>fuerza bruta</string>
			</dict>
		</dict>
		<key>call</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Decir al código que ejecute una función. Por ejemplo, llamar a la función `moveForward()` en el código le dice a la aplicación que ejecute las acciones definidas en esa función.</string>
				<key>Title</key>
				<string>llamar</string>
			</dict>
		</dict>
		<key>cipher</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Descifrar el código</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Una manera de transformar un mensaje para ocultar su significado.</string>
				<key>Title</key>
				<string>cifrar</string>
			</dict>
		</dict>
		<key>ciphertext</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Práctica de desplazamiento</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Mensaje o texto en claro codificado.</string>
				<key>Title</key>
				<string>texto cifrado</string>
			</dict>
		</dict>
		<key>cryptography</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>A salvo del temporal</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Práctica de cifrar y descifrar mensajes escritos en código secreto.</string>
				<key>Title</key>
				<string>criptografía</string>
			</dict>
		</dict>
		<key>decryption</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Práctica de desplazamiento</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Proceso de convertir un texto cifrado en su mensaje original o texto en claro.</string>
				<key>Title</key>
				<string>descifrado</string>
			</dict>
		</dict>
		<key>encryption</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Práctica de desplazamiento</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Proceso de ocultar un mensaje o texto en claro para que no pueda leerse fácilmente.</string>
				<key>Title</key>
				<string>cifrado</string>
			</dict>
		</dict>
		<key>shift</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>El descubrimiento</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Número de letras del alfabeto que debes desplazar hacia adelante o hacia atrás hasta lograr cifrar o descifrar un texto.</string>
				<key>Title</key>
				<string>desplazamiento</string>
			</dict>
		</dict>
		<key>steganography</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>El descubrimiento</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Práctica de ocultar un texto o una imagen secreta dentro de otro texto o imagen no secreta.</string>
				<key>Title</key>
				<string>esteganografía</string>
			</dict>
		</dict>
		<key>substitution cipher</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>El descubrimiento</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Mensaje cifrado que está codificado sustituyendo las letras originales por otras letras distintas.</string>
				<key>Title</key>
				<string>cifrado por sustitución</string>
			</dict>
		</dict>
		<key>transposition cipher</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>El descubrimiento</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Mensaje cifrado que está codificado mezclando o desplazando todas las letras del mensaje original sin cambiarlas.</string>
				<key>Title</key>
				<string>cifrado por transposición</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
