<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>argument</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>破解密码</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>传入函数以自定其行为的输入值。例如，在名为 `move(distance: 3)` 的函数中，`3` 是用来指定移动多少空间的实参。
            </string>
				<key>Title</key>
				<string>实参</string>
			</dict>
		</dict>
		<key>attack</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>破解密码</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>用来破解加密方案的方法。</string>
				<key>Title</key>
				<string>破译</string>
			</dict>
		</dict>
		<key>brute force</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>破解密码</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>使用一切可能的选择，对加密方案进行破解的解密系统。</string>
				<key>Title</key>
				<string>暴力破解</string>
			</dict>
		</dict>
		<key>call</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>告诉代码运行函数。例如，在代码中调用 `moveForward()` 告诉应用程序执行该函数中定义的操作。</string>
				<key>Title</key>
				<string>调用</string>
			</dict>
		</dict>
		<key>cipher</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>破解密码</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>一种为隐藏信息含义而转换信息的方式。</string>
				<key>Title</key>
				<string>密码</string>
			</dict>
		</dict>
		<key>ciphertext</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>移位练习</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>加密的信息或明文。</string>
				<key>Title</key>
				<string>密文</string>
			</dict>
		</dict>
		<key>cryptography</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>远离风暴</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>针对采用密码形式编写的信息进行加密和解密的做法。</string>
				<key>Title</key>
				<string>密码学</string>
			</dict>
		</dict>
		<key>decryption</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>移位练习</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>将密文转换成其原始明文或信息的过程。</string>
				<key>Title</key>
				<string>解密</string>
			</dict>
		</dict>
		<key>encryption</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>移位练习</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>隐藏信息或明文，使其不能轻易被读懂的过程。</string>
				<key>Title</key>
				<string>加密</string>
			</dict>
		</dict>
		<key>shift</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>发现之旅</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>为了使文本加密或解密，必须在字母表中向前或向后移动的字母的数量。</string>
				<key>Title</key>
				<string>移位</string>
			</dict>
		</dict>
		<key>steganography</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>发现之旅</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>将隐秘文本或图像隐藏到非隐秘文本或图像中的做法。</string>
				<key>Title</key>
				<string>隐写术</string>
			</dict>
		</dict>
		<key>substitution cipher</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>发现之旅</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>使用不同的字母替换每个原始字母来进行加密的密码。</string>
				<key>Title</key>
				<string>替换式密码</string>
			</dict>
		</dict>
		<key>transposition cipher</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>发现之旅</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>不改变原始信息中的所有字母，而是弄乱或移动这些字母来进行加密的密码。</string>
				<key>Title</key>
				<string>移位式密码</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
