<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>cycloid</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>개요</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>직선을 따라 구르는 원의 점으로 그려지는 곡선입니다.</string>
				<key>Title</key>
				<string>사이클로이드</string>
			</dict>
		</dict>
		<key>etymology</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>에피사이클로이드</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>단어의 기원에 대한 학문입니다.</string>
				<key>Title</key>
				<string>어원학</string>
			</dict>
		</dict>
		<key>subset</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>하이포트로코이드</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>세트라고 불리는 요소의 그룹이며 모든 요소는 더 큰 세트의 일부입니다.</string>
				<key>Title</key>
				<string>부분 집합</string>
			</dict>
		</dict>
		<key>trochoid</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>하이포트로코이드</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>다른 표면(평면이나 곡면)을 따라 구르는 원의 점으로 그려지는 곡선입니다.</string>
				<key>Title</key>
				<string>트로코이드</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
