<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseVersion</key>
	<string>1.0</string>
	<key>DiffPackType</key>
	<string>UserEdit</string>
	<key>DocumentType</key>
	<string>PlaygroundBook</string>
	<key>Name</key>
	<string>com.apple.playgrounds.blank</string>
	<key>UpdateVersion</key>
	<string>1.0</string>
	<key>Updates</key>
	<dict>
		<key>Added</key>
		<array>
			<dict>
				<key>File</key>
				<string>Chapters/Chapter1.playgroundchapter/UserManifest.plist</string>
			</dict>
			<dict>
				<key>File</key>
				<string>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/UserManifest.plist</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/CwlCore.playgroundmodule/Sources/CwlCore.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/CwlSignals.playgroundmodule/Sources/CwlSignals.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/CwlViewsCore.playgroundmodule/Sources/CwlModelState.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/CwlViewsCore.playgroundmodule/Sources/CwlStackAdapter.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/CwlViewsCore.playgroundmodule/Sources/CwlVar.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/CwlViewsCore.playgroundmodule/Sources/CwlBinder.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/CwlViewsCore.playgroundmodule/Sources/CwlMutation.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/CwlViewsCore.playgroundmodule/Sources/CwlAdapterState.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/CwlViewsCore.playgroundmodule/Sources/CwlMasterDetail.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/CwlViewsCore.playgroundmodule/Sources/CwlBindingValues.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/CwlViewsCore.playgroundmodule/Sources/CwlTempVar.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/CwlViewsCore.playgroundmodule/Sources/CwlToggleVar.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/CwlViewsCore.playgroundmodule/Sources/CwlAdapter+Signals.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/CwlViewsCore.playgroundmodule/Sources/CwlAdapter.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/CwlViewsCore.playgroundmodule/Sources/CwlCodableContainer.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/CwlViewsUtilities.playgroundmodule/Sources/CwlUtilities.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/CwlViews.playgroundmodule/Sources/Common.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/CwlViews.playgroundmodule/Sources/IOS.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/CwlViews.playgroundmodule/Sources/BarItem.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/CwlViews.playgroundmodule/Sources/CwlSlider.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/CwlViews.playgroundmodule/Sources/CwlProgress.swift</string>
			</dict>
		</array>
		<key>Modified</key>
		<array>
			<dict>
				<key>Diff</key>
				<string>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/main.swift.delta</string>
				<key>File</key>
				<string>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/main.swift</string>
			</dict>
		</array>
		<key>Removed</key>
		<array>
			<dict>
				<key>File</key>
				<string>UserModules/UserModule.playgroundmodule/Sources/SharedCode.swift</string>
			</dict>
		</array>
		<key>Replaced</key>
		<array/>
	</dict>
</dict>
</plist>
