<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>argument</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>破解密碼</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>傳入函數以自定其動作的輸入值。例如，在名為 `move(distance: 3)` 的函數中，`3` 是用來指定移動多少空間的引數。
            </string>
				<key>Title</key>
				<string>引數</string>
			</dict>
		</dict>
		<key>attack</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>破解密碼</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>用來破解加密方案的方法。</string>
				<key>Title</key>
				<string>破譯</string>
			</dict>
		</dict>
		<key>brute force</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>破解密碼</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>使用一切可能的選項，對加密方案進行破解的解密系統。</string>
				<key>Title</key>
				<string>暴力破解</string>
			</dict>
		</dict>
		<key>call</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>指示程式碼執行函數。例如，在程式碼中呼叫 `moveForward()` 會指示應用程式執行該函數中定義的動作。</string>
				<key>Title</key>
				<string>呼叫</string>
			</dict>
		</dict>
		<key>cipher</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>破解密碼</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>一種為隱藏訊息涵義而轉換訊息的方式。</string>
				<key>Title</key>
				<string>密碼</string>
			</dict>
		</dict>
		<key>ciphertext</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>移位練習</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>加密的訊息或明文。</string>
				<key>Title</key>
				<string>密文</string>
			</dict>
		</dict>
		<key>cryptography</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>遠離風暴</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>針對採用密碼形式編寫的訊息進行加密和解密的方法。</string>
				<key>Title</key>
				<string>密碼學</string>
			</dict>
		</dict>
		<key>decryption</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>移位練習</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>將密文轉換成其原始明文或訊息的過程。</string>
				<key>Title</key>
				<string>解密</string>
			</dict>
		</dict>
		<key>encryption</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>移位練習</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>隱藏訊息或明文，使其不能輕易被讀懂的過程。</string>
				<key>Title</key>
				<string>加密</string>
			</dict>
		</dict>
		<key>shift</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>發現之旅</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>為了讓文字加密或解密，必須在字母表中向前或向後移動的字母的數量。</string>
				<key>Title</key>
				<string>移位</string>
			</dict>
		</dict>
		<key>steganography</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>發現之旅</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>將秘密文字或影像隱藏到非秘密文字或影像中的方法。</string>
				<key>Title</key>
				<string>隱寫術</string>
			</dict>
		</dict>
		<key>substitution cipher</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>發現之旅</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>使用不同的字母替換每個原始字母來進行加密的密碼。</string>
				<key>Title</key>
				<string>替代式密碼</string>
			</dict>
		</dict>
		<key>transposition cipher</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>發現之旅</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>不改變原始訊息中的所有字母，而是弄亂或移動這些字母來進行加密的密碼。</string>
				<key>Title</key>
				<string>移位式密碼</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
