<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>cycloid</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>ภาพรวม</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>เส้นโค้งที่ร่างขึ้นด้วยจุดบนวงกลมที่กลิ้งไปตามเส้นตรง</string>
				<key>Title</key>
				<string>ไซคลอยด์</string>
			</dict>
		</dict>
		<key>etymology</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>เอพิไซคลอยด์</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>การศึกษาแหล่งที่มาของคำ</string>
				<key>Title</key>
				<string>ศัพทมูลวิทยา</string>
			</dict>
		</dict>
		<key>subset</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>ไฮโพโทรคอยด์</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>กลุ่มขององค์ประกอบที่เรียกว่าเซ็ต โดยที่องค์ประกอบทั้งหมดเป็นส่วนหนึ่งของเซ็ตที่ใหญ่กว่า</string>
				<key>Title</key>
				<string>เซ็ตย่อย</string>
			</dict>
		</dict>
		<key>trochoid</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>ไฮโพโทรคอยด์</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>เส้นโค้งที่ร่างขึ้นด้วยจุดบนวงกลมที่กลิ้งไปตามพื้นผิวอื่นๆ ซึ่งเป็นได้ทั้งพื้นผิวแบนหรือโค้งก็ได้</string>
				<key>Title</key>
				<string>โทรคอยด์</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
