<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>argument</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Descifrando el código</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Un valor de entrada que se pasa a una función para personalizar su comportamiento. Por ejemplo, en la función `move(distance: 3)`, `3` es un argumento que especifica cuántos espacios moverse.
            </string>
				<key>Title</key>
				<string>argumento</string>
			</dict>
		</dict>
		<key>attack</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Descifrando el código</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Un método usado para descifrar un esquema de cifrado.</string>
				<key>Title</key>
				<string>ataque</string>
			</dict>
		</dict>
		<key>brute force</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Descifrando el código</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Un sistema de descifrado que usa todas las opciones posibles para descifrar un esquema de cifrado.</string>
				<key>Title</key>
				<string>fuerza bruta</string>
			</dict>
		</dict>
		<key>call</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Indicarle al código que ejecute una función. Por ejemplo, al llamar a la función `moveForward()` se le indica al código que realice las acciones definidas en esa función.</string>
				<key>Title</key>
				<string>llamar</string>
			</dict>
		</dict>
		<key>cipher</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Descifrando el código</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Una forma de transformar un mensaje con la finalidad de ocultar su significado.</string>
				<key>Title</key>
				<string>mensaje cifrado</string>
			</dict>
		</dict>
		<key>ciphertext</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Desplazamiento</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Un mensaje o texto que se ha cifrado.</string>
				<key>Title</key>
				<string>texto cifrado</string>
			</dict>
		</dict>
		<key>cryptography</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Refugio en la tormenta</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>La práctica de cifrar (o encriptar) y descifrar (o desencriptar) mensajes escritos en un código secreto.</string>
				<key>Title</key>
				<string>criptografía</string>
			</dict>
		</dict>
		<key>decryption</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Desplazamiento</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>El proceso de convertir un texto cifrado en su texto o mensaje original.</string>
				<key>Title</key>
				<string>descifrado</string>
			</dict>
		</dict>
		<key>encryption</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Desplazamiento</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>El proceso de ocultar un mensaje o texto de tal forma que no se pueda leer fácilmente.</string>
				<key>Title</key>
				<string>cifrado</string>
			</dict>
		</dict>
		<key>shift</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>El hallazgo</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>La cantidad de letras que debes avanzar o retroceder por el alfabeto para llegar al texto cifrado o descifrado.</string>
				<key>Title</key>
				<string>desplazamiento</string>
			</dict>
		</dict>
		<key>steganography</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>El hallazgo</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>La práctica de ocultar imágenes o textos secretos dentro de imágenes o textos que no son secretos.</string>
				<key>Title</key>
				<string>esteganografía</string>
			</dict>
		</dict>
		<key>substitution cipher</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>El hallazgo</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Un mensaje cifrado mediante la sustitución de una letra por otra.</string>
				<key>Title</key>
				<string>cifrado por sustitución</string>
			</dict>
		</dict>
		<key>transposition cipher</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>El hallazgo</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Un mensaje cifrado al cambiar de posición las letras del mensaje original, pero sin cambiarlas por otras letras.</string>
				<key>Title</key>
				<string>cifrado por transposición</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
