<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>argument</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>De code breken</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Een invoerwaarde die wordt doorgegeven aan een functie om de werking ervan aan te passen. Bijvoorbeeld: in de functie-aanroep `move(distance: 3)` is `3` een argument waarmee het aantal posities van de verplaatsing wordt aangegeven.

(move = verplaats, distance = afstand.
            </string>
				<key>Title</key>
				<string>argument</string>
			</dict>
		</dict>
		<key>attack</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>De code breken</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Een methode voor het breken van een coderingssysteem.</string>
				<key>Title</key>
				<string>aanval</string>
			</dict>
		</dict>
		<key>brute force</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>De code breken</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Een decoderingssysteem dat elke mogelijk optie gebruikt om een code te breken.</string>
				<key>Title</key>
				<string>brute force</string>
			</dict>
		</dict>
		<key>call</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Code opdracht geven om een functie uit te voeren. Bijvoorbeeld: door de functie `moveForward()` aan te roepen in je code, geef je het programma opdracht om de acties uit te voeren die in die functie zijn gedefinieerd.

(moveForward = ga vooruit)</string>
				<key>Title</key>
				<string>aanroepen</string>
			</dict>
		</dict>
		<key>cipher</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>De code breken</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Een methode om een bericht te veranderen zodat de betekenis ervan verborgen wordt.</string>
				<key>Title</key>
				<string>versleuteling</string>
			</dict>
		</dict>
		<key>ciphertext</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Leren verschuiven</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Een bericht of platte tekst waarop codering is toegepast.</string>
				<key>Title</key>
				<string>geheimschrift</string>
			</dict>
		</dict>
		<key>cryptography</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Schuilen voor de storm</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Het coderen of decoderen van berichten die zijn geschreven in een geheime code.</string>
				<key>Title</key>
				<string>cryptografie</string>
			</dict>
		</dict>
		<key>decryption</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Leren verschuiven</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Geheimschrift omzetten in het originele bericht of de originele platte tekst.</string>
				<key>Title</key>
				<string>decodering</string>
			</dict>
		</dict>
		<key>encryption</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Leren verschuiven</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Het versleutelen van een bericht of platte-tekstbestand zodat het niet meer gemakkelijk leesbaar is.</string>
				<key>Title</key>
				<string>codering</string>
			</dict>
		</dict>
		<key>shift</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>De ontdekking</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Het aantal letters dat je vooruit of terug moet gaan in het alfabet om de gecodeerde of gedecodeerde tekst weer te geven.</string>
				<key>Title</key>
				<string>verschuiven</string>
			</dict>
		</dict>
		<key>steganography</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>De ontdekking</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Het zichtbaar maken van geheime tekst of afbeeldingen in niet-geheime tekst of afbeeldingen.</string>
				<key>Title</key>
				<string>steganografie</string>
			</dict>
		</dict>
		<key>substitution cipher</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>De ontdekking</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Een geheimschrift dat wordt gecodeerd door de originele letters te vervangen door andere letters.</string>
				<key>Title</key>
				<string>substitutieversleuteling</string>
			</dict>
		</dict>
		<key>transposition cipher</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>De ontdekking</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Een geheimschrift dat wordt gecodeerd door de letters van het originele bericht door elkaar te husselen of te verplaatsen zonder ze te veranderen.</string>
				<key>Title</key>
				<string>transpositieversleuteling</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
