<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>BA9A6173-AFC8-4756-8ABE-689602F5645C.playgroundpage</string>
		<string>B3E12663-0D11-4A3E-A776-4466B63D9EEC.playgroundpage</string>
		<string>E692AC4E-CA45-4283-8CA2-23CF793D2B0B.playgroundpage</string>
		<string>8C5D3157-9732-4652-A279-4D7C10CA01F0.playgroundpage</string>
	</array>
</dict>
</plist>
